* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hide {
  display: none;
}

.link {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.header_homelink {
  color: var(--color-black);
  text-decoration: none;
}

.header_homelink:hover {
  color: var(--color-sandybrown);
}

.w-auth_container {
  margin-top: 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/chuttersnap-9cCeS9Sg6nU-unsplash.jpg");
  border-image-repeat: no-repeat;
  background-size: cover;
}

.auth_container {
  border: 4px solid #ffae5d;
  padding: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 1.5rem;
  background-color: #fff;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_inputs {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 85%;
}

.auth_input {
  display: block;
  border: 1px solid #4d4d4d;
  padding: 0.3rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  width: 100%;
  box-sizing: border-box;
}

.auth_radios,
.auth_input {
  margin-top: 0.25rem;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: #4d4d4d;
  color: #ffffff;
  cursor: pointer;
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.btn p,
.btn a {
  padding: 0.4rem;
}

.btn:hover {
  color: #ffae5d;
}

.btn:hover a {
  color: #ffae5d;
}

.auth_text {
  font-size: 1.15rem;
}

.auth_error,
.auth_success {
  font-weight: 700;
}

.auth_error {
  color: #ea1c1c;
}

.auth_success {
  color: #12b625;
}

.auth_forgot {
  font-size: 1rem;
}

.section_singout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.auth_signout_label {
  font-size: 1.5rem;
}

.see_more_product {
  margin-top: 0.25rem;
  background-color: #ffffff;
  border: 2px solid #ffae5d;
  border-radius: 8px;
  padding: 0.5rem 0rem;
  cursor: pointer;
  width: 92%;
}

.see_more_product:hover {
  border: 3px solid #faaa00;
}

.see_more_product a {
  text-decoration: none;
  color: #000;
}

.search_wrap {
  margin-top: 2rem;
}

.category_link {
  text-decoration: none;
  color: #000;
}
.category_link:hover {
  color: #f39d47;
}

.product_content {
  display: flex;
  justify-content: space-between;
}

.product_info {
  width: 55%;
}

.product_img {
  width: 40%;
  height: fit-content;
}

.p_product_add_to_cart {
  display: inline-block;
}

.sign_in_reminder {
  margin-top: 3rem;
}

.checkout_select {
  width: 100%;
}

.checkout_select label {
  display: block;
  width: 100%;
}

.checkout_select select {
  display: block;
  width: 100%;
  padding: 10px;
}

/* globals_index start */
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-red: #ff3232;
  --color-black: #000;
  --color-sandybrown: #ffae5d;
  --color-dimgray: #606060;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-8xs: 5px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-mini: 15px;
  --padding-xl: 20px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-xl: 20px;
}
/* globals_index end */

/* Mo_HomePage start */
.homePage {
  .shopcart,
  .vector-icon {
    position: relative;
  }
  .vector-icon {
    width: 24px;
    height: 24px;
    color: #000000;
  }
  .sign-in {
    position: relative;
    font-weight: 500;
  }
  .frame-wrapper,
  .shopcart-parent,
  .vector-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .vector-parent {
    gap: var(--gap-3xs);
  }
  .frame-wrapper,
  .shopcart-parent {
    font-size: var(--font-size-base);
  }
  .shopcart-parent {
    position: absolute;
    width: calc(100% - 403px);
    top: 40px;
    right: 200px;
    left: 203px;
    justify-content: space-between;
    font-size: var(--font-size-13xl);
  }
  .home-child {
    position: absolute;
    width: calc(100% - 400px);
    top: 108px;
    right: 200px;
    left: 200px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon {
    width: 19.2px;
    position: relative;
    height: 24px;
  }
  .group-parent {
    border-radius: var(--br-xl);
    background-color: var(--color-sandybrown);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base);
    gap: var(--gap-3xs);
  }
  .vector-icon1 {
    width: 16px;
    position: relative;
    height: 16px;
  }
  .frame-parent,
  .search-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .search-parent {
    width: 622px;
    border-radius: var(--br-xl);
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-sizing: border-box;
    padding: var(--padding-base);
    color: gray;
  }
  .frame-parent {
    position: absolute;
    width: calc(100% - 403px);
    top: 128px;
    right: 202px;
    left: 201px;
  }
  .b {
    color: var(--color-sandybrown);
  }
  .b1 {
    font-family: var(--font-poppins);
  }
  .we-picked-some-container {
    position: absolute;
    width: calc(100% - 1372px);
    top: 478px;
    left: 200px;
    font-size: 96px;
    line-height: 100px;
    display: inline-block;
  }
  .the-most-popular {
    position: relative;
    font-weight: 600;
  }
  .the-most-popular-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 2px dashed var(--color-sandybrown);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-xl);
    font-size: var(--font-size-5xl);
  }
  .frame-child {
    width: 235px;
    position: relative;
    height: 235px;
    object-fit: cover;
  }
  .off {
    position: relative;
    color: var(--color-red);
  }
  .parent {
    width: 235px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .rectangle-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    gap: var(--gap-8xs);
  }
  .samsung-galaxy-tab {
    width: 236px;
    position: relative;
    font-weight: 500;
    display: inline-block;
  }
  .frame-container {
    position: absolute;
    width: 100%;
    top: 423px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .rectangle-parent1 {
    border-radius: var(--br-3xs);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    gap: var(--gap-8xs);
  }
  .frame-div {
    position: absolute;
    width: calc(100% - 1px);
    top: 76px;
    right: 1px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .frame-group {
    position: absolute;
    width: calc(100% - 1042px);
    top: 288px;
    right: 200px;
    left: 842px;
    height: 760px;
  }
  .fresh-parent {
    position: absolute;
    width: calc(100% - 403px);
    top: 204px;
    right: 202px;
    left: 201px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-3xs);
    box-sizing: border-box;
    color: var(--color-dimgray);
  }
  .component-1-icon {
    position: absolute;
    top: 1108px;
    left: 201px;
    width: 1517px;
    height: 600px;
    object-fit: cover;
  }
  .component-2,
  .todays-most-recent-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .todays-most-recent-wrapper {
    position: absolute;
    width: calc(100% - 403px);
    top: 1768px;
    right: 201px;
    left: 202px;
    border-bottom: 2px dashed var(--color-sandybrown);
    box-sizing: border-box;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-xl);
    font-size: var(--font-size-5xl);
  }
  .component-2 {
    border-radius: var(--br-3xs);
    flex-direction: column;
    padding: var(--padding-mini);
    gap: var(--gap-3xs);
  }
  .component-2-container,
  .component-2-group,
  .component-2-parent {
    position: absolute;
    top: 1854px;
    left: 201px;
    width: 1518px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .component-2-container,
  .component-2-group {
    top: 2295px;
    left: 203px;
  }
  .component-2-container {
    top: 2736px;
  }
  .home-item {
    position: absolute;
    top: 3177px;
    left: 0;
    background-color: #404040;
    width: 1920px;
    height: 200px;
  }
  .shopcart1 {
    position: relative;
    font-size: var(--font-size-13xl);
  }
  .about-us-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
  }
  .frame-child3,
  .vector-icon2 {
    width: 33.2px;
    position: relative;
    height: 24px;
  }
  .vector-icon2 {
    width: 10px;
    height: 5px;
  }
  .group-container,
  .shopcart-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .group-container {
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .shopcart-group {
    position: absolute;
    top: 3253px;
    left: 202px;
    width: 1520.2px;
    justify-content: space-between;
    padding: 0 var(--padding-3xs);
    box-sizing: border-box;
    color: var(--color-white);
  }
  .home-child1,
  .home-inner {
    position: absolute;
    top: 3256.3px;
    left: 1616.5px;
    width: 67.3px;
    height: 50.8px;
  }
  .home-child1 {
    top: 3243.1px;
    left: 1594.7px;
    width: 99.2px;
    height: 70.6px;
  }
  .home {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: 3377px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 420px) {
    .component-2-parent {
      flex-direction: row;
      gap: 47px;
      align-items: center;
      justify-content: space-between;
    }
  }
}
/* Mo_HomePage end */

/* Mo_ProductPage start */
.productPage {
  .product-detail-page-mockup .divider {
    background: #e5e8ed;
    margin-bottom: 1.9rem;
    align-self: flex-start;
    width: 76.9rem;
    height: 0.1rem;
  }
  .product-detail-page-mockup .line-stroke-2 {
    width: 1.1rem;
    height: 0.7rem;
  }
  .product-detail-page-mockup .left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.1rem;
    height: 0.7rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .prev-btn {
    opacity: 0.5;
    border-radius: 1.5rem;
    background: #ffffff;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.2rem 0.9rem 1.2rem 1rem;
    width: 3rem;
    height: 3rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .line-stroke-1 {
    width: 1.1rem;
    height: 0.7rem;
  }
  .product-detail-page-mockup .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.1rem;
    height: 0.7rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .next-btn {
    opacity: 0.5;
    border-radius: 1.5rem;
    background: #ffffff;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.2rem 0.9rem;
    width: 3rem;
    height: 3rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .container {
    border-radius: 0.3rem;
    background: url("../Product_page/image3.jpeg") 50% / cover no-repeat;
    position: relative;
    margin-bottom: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17.3rem 2rem;
    width: 37.5rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .image {
    border-radius: 0.3rem;
    border: 0.1rem solid var(--primary, #17696a);
    background: url("../Product_page/image4.jpeg") 50% / cover no-repeat;
    width: 6.5rem;
    height: 6.5rem;
  }
  .product-detail-page-mockup .image-1 {
    opacity: 0.6;
    border-radius: 0.3rem;
    background: url("../Product_page/image1.jpeg") 50% / cover no-repeat;
    width: 6.5rem;
    height: 6.5rem;
  }
  .product-detail-page-mockup .image-2 {
    opacity: 0.6;
    border-radius: 0.3rem;
    background: url("../Product_page/image2.jpeg") 50% / cover no-repeat;
    width: 6.5rem;
    height: 6.5rem;
  }
  .product-detail-page-mockup .image-3 {
    opacity: 0.6;
    border-radius: 0.3rem;
    background: url("../Product_page/image.jpeg") 50% / cover no-repeat;
    width: 6.5rem;
    height: 6.5rem;
  }
  .product-detail-page-mockup .images-preview {
    margin: 0 0.1rem;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    column-gap: 1.3rem;
    width: 29.8rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .product-gallery {
    margin-right: 6.6rem;
    display: flex;
    flex-direction: column;
    width: 37.5rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .price-2 {
    margin-right: 0.8rem;
    overflow-wrap: break-word;
    font-family: "Lato";
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.3;
    color: var(--danger, #ff4242);
  }
  .product-detail-page-mockup .price-old {
    margin-top: 0.3rem;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: "Lato";
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration-line: line-through;
    line-height: 1.5;
    color: var(--gray-700, #787a80);
  }
  .product-detail-page-mockup .price-1 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .container {
    overflow-wrap: break-word;
    font-family: "Lato";
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--white, #ffffff);
  }
  .product-detail-page-mockup .sale-badge {
    border-radius: 0.3rem;
    background: var(--danger, #ff4242);
    margin: 0.1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.1rem 0.5rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .price {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 14.5rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .color {
    margin-bottom: 0.8rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: "Lato";
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--gray-800, #424551);
  }
  .product-detail-page-mockup .color-2 {
    border-radius: 0.5rem;
    background: #e0aea2;
    width: 1rem;
    height: 1rem;
  }
  .product-detail-page-mockup .color-swatch-active {
    position: relative;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .color-3 {
    border-radius: 0.5rem;
    background: #c0dded;
    width: 1rem;
    height: 1rem;
  }
  .product-detail-page-mockup .color-swatch {
    position: relative;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .color-4 {
    border-radius: 0.5rem;
    background: #fede41;
    width: 1rem;
    height: 1rem;
  }
  .product-detail-page-mockup .color-swatch-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .color-pallete {
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    width: 5.5rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .pink {
    margin: 0.1rem 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: "Lato";
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--gray-600, #9a9ca5);
  }
  .product-detail-page-mockup .color-1 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .color-switcher {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .about {
    margin: 0 0 2.6rem 0.1rem;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: "Lato";
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #000000;
  }
  .product-detail-page-mockup .label {
    margin-bottom: 0.5rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: "Lato";
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--gray-800, #424551);
  }
  .product-detail-page-mockup .please-select {
    margin-right: 0.7rem;
    width: 18.3rem;
    overflow-wrap: break-word;
    font-family: "Lato";
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--gray-600, #9a9ca5);
  }
  .product-detail-page-mockup .line-stroke {
    width: 0.7rem;
    height: 0.4rem;
  }
  .product-detail-page-mockup .down-chevron {
    margin: 0.5rem 0 0.4rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 0.7rem;
    height: 0.4rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .input {
    border-radius: 0.3rem;
    border: 0.1rem solid var(--gray-400, #d7dadd);
    background: var(--white, #ffffff);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6rem 1.1rem 1rem 0.9rem;
    width: 21.8rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .size-options {
    margin: 0 0.1rem 2.6rem 0.1rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .container-1 {
    margin-right: 0.7rem;
    width: 1.6rem;
    overflow-wrap: break-word;
    font-family: "Lato";
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--gray-800, #424551);
  }
  .product-detail-page-mockup .vector-1 {
    width: 0.6rem;
    height: 0.9rem;
  }
  .product-detail-page-mockup .up-down-select {
    margin: 0.2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 0.6rem;
    height: 0.9rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .inputdefault {
    border-radius: 0.3rem;
    border: 0.1rem solid var(--gray-400, #d7dadd);
    background: var(--white, #ffffff);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6rem 1.1rem 0.7rem 0.9rem;
    width: 5rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .vector {
    width: 0.9rem;
    height: 0.9rem;
  }
  .product-detail-page-mockup .cart {
    margin: 0.9rem 0.6rem 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 0.9rem;
    height: 0.9rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .add-to-cart {
    overflow-wrap: break-word;
    font-family: "Lato";
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0rem;
    line-height: 3.143;
    color: var(--white, #ffffff);
  }
  .product-detail-page-mockup .btnsolidregularicon {
    border-radius: 0.3rem;
    background: var(--primary, #17696a);
    display: flex;
    flex-direction: row;
    width: 15.3rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .container-1 {
    margin: 0 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 23.3rem;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .sidebar {
    margin-bottom: 13rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .product-detail-page-mockup .container-2 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .product-detail-page-mockup {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20.3rem 2.5rem 61.9rem 3.6rem;
    width: 90rem;
    box-sizing: border-box;
  }
}
/* Mo_ProductPage end */

/* N_CartPage start */
.cartPage {
  @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  img {
    object-fit: cover;
  }

  body {
    background-color: #ffffff;
  }

  nav {
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }

  nav a.logo {
    font-size: 33px;
    color: #ffae5d;
    font-weight: 600;
  }

  nav .links a:not(:last-child) {
    margin-right: 20px;
  }

  nav .login button {
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  nav .login button.signup {
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    margin-right: 14px;
  }

  header {
    padding: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header .left {
    padding-top: 100px;
    width: 700px;
  }

  header .left h1 {
    font-size: 80px;
  }

  header .left h1 span {
    color: #ffae5d;
  }

  header .left p {
    margin: 40px 0;
    color: #777;
  }

  header .left a {
    display: flex;
    align-items: center;
    background: #000;
    width: 300px;
    padding: 8px;
    border-radius: 60px;
  }

  header .left a:hover {
    background: #ffae5d;
    transition: all 0.3s ease;
  }

  header .left a i {
    background-color: #fff;
    font-size: 75px;
    border-radius: 50%;
    padding: 8px;
  }

  header .left a span {
    color: #fff;
    margin-left: 40px;
  }

  header img {
    width: 300px;
    padding-top: 100px;
  }

  .item-shop .item-list .item {
    padding: 20px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 23%;
    cursor: pointer;
  }

  .item-shop .item-list .item:hover {
    box-shadow: none;
  }

  .item-shop {
    margin: 30px auto;
    width: 80%;
  }

  .item-shop .item-list {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .item-shop .item-list .item img {
    width: 90%;
    height: 220px;
    border-radius: 18px;
  }

  .item-shop .item-list .item .info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 12px 0;
  }

  .item-shop .item-list .item .info h5 {
    font-size: 18px;
  }

  .item-shop .item-list .item .info .btc {
    margin-top: 10px;
  }

  .item-shop .item-list .item .btc p {
    font-size: 14px;
    margin-top: 5px;
    color: #ffae5d;
  }

  .item-shop .item-list .item .info button {
    margin-top: 20px;
    padding: 8px 14px;
    cursor: pointer;
    background-color: transparent;
    align-items: center;
    border-radius: 8px;
  }

  .item-shop .item-list .item .info button:hover {
    color: #fff;
    background: #ffae5d;
    border: none;
    transition: all 0.3s ease;
  }

  .view-more {
    margin: 10px 0 40px;
    display: flex;
    justify-content: center;
  }

  .view-more button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background: #dfdcdc;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .view-more button:hover {
    color: #fff;
    background: #ffae5d;
  }

  footer {
    background-color: #000;
    color: #fff;
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer h3 {
    font-size: 48px;
  }

  @media screen and (max-width: 1400px) {
    nav,
    header,
    .item-shop {
      padding: 0 40px;
    }

    header .left h1 {
      font-size: 60px;
    }

    header img {
      width: 250px;
      padding-top: 100px;
    }

    .item-shop .item-list .item img {
      width: 220px;
      height: 220px;
    }

    footer {
      padding: 100px 40px;
    }

    footer h3 {
      font-size: 38px;
    }
  }

  @media screen and (max-width: 1200px) {
    header .left h1 {
      font-size: 48px;
    }

    header img {
      width: 250px;
      padding-top: 100px;
    }

    .item-shop .item-list {
      flex-wrap: wrap;
      row-gap: 30px;
    }

    .item-shop .item-list .item {
      width: 48%;
    }

    .item-shop .item-list .item img {
      width: 100%;
      height: auto;
    }

    footer .links a {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 992px) {
    nav a.logo {
      font-size: 28px;
    }

    nav .links a {
      font-size: 14px;
    }

    header {
      flex-direction: column-reverse;
      height: auto;
      margin-bottom: 60px;
    }

    header .left {
      width: 100%;
    }

    header img {
      width: 250px;
    }

    footer {
      flex-direction: column;
      padding: 60px 40px;
    }

    footer h3 {
      margin-bottom: 40px;
      font-size: 32px;
    }

    footer .right {
      width: 100%;
      align-items: center;
    }
  }

  @media screen and (max-width: 768px) {
    nav,
    header,
    .item-shop {
      padding: 0 20px;
    }

    nav a.logo {
      display: none;
    }

    nav .links a {
      font-size: 12px;
    }

    nav .login button {
      font-size: 12px;
      padding: 6px 10px;
    }

    header img {
      width: 200px;
    }

    header .left h1 {
      font-size: 36px;
    }

    header .left p {
      font-size: 14px;
    }

    header .left a {
      padding: 6px;
      width: 300px;
      font-size: 14px;
    }

    header .left a i {
      padding: 6px;
    }

    footer {
      padding: 40px 20px;
    }
  }

  @media screen and (max-width: 576px) {
    header img {
      width: 100px;
    }

    header .left a {
      width: 300px;
    }

    header .left h1 {
      font-size: 30px;
      padding: 0 93px;
    }

    .item-shop .item-list .item {
      width: 47%;
    }

    .item-shop .category a {
      font-size: 13px;
    }
  }

  .footer-logo {
    position: relative;
    font-size: var(--font-size-13xl);
  }

  .footer-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 8%;
    width: 82%;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    color: #fff;
    bottom: -120px;
  }

  .about-us-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
  }

  .info {
    position: relative;
    font-weight: 500;
  }

  .footer {
    width: 100%;
    position: relative;
    background-color: #fff;
    bottom: 0;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: var(--font-poppins);
  }

  .footer-box {
    position: absolute;
    left: 0;
    background-color: #404040;
    width: 100%;
    height: 200px;
  }

  .shopcart {
    font-weight: 800;
  }

  .shopcart-parent {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: calc(100% - 403px);
    top: 45px;
    right: 200px;
    left: 203px;
    justify-content: space-between;
    font-size: var(--font-size-13xl);
    font-weight: 150;
  }

  .sign-in {
    position: relative;
    font-size: 17px;
    font-weight: 700;
  }

  .frame-parent,
  .search-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .search-parent {
    width: 622px;
    border-radius: var(--br-xl);
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-sizing: border-box;
    padding: var(--padding-base);
    color: gray;
  }

  .frame-parent {
    position: absolute;
    width: calc(100% - 403px);
    top: 128px;
    right: 202px;
    left: 201px;
  }

  .group-parent {
    border-radius: var(--br-xl);
    background-color: var(--color-sandybrown);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base);
    gap: var(--gap-3xs);
  }

  .fresh-parent {
    position: absolute;
    width: calc(100% - 403px);
    top: 204px;
    right: 202px;
    left: 201px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-3xs);
    box-sizing: border-box;
    color: var(--color-dimgray);
    font-size: 1px;
  }
}
/* N_CartPage end */

/* N_CheckoutPage start */
.checkoutPage {
  * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
  }

  body {
    height: 50vh;
    width: 100%;
  }

  .payment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    padding: 0 10%;
    margin-top: 5rem;
  }

  .address {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    padding: 0 10%;
    margin-top: 10rem;
  }

  .total-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    padding: 0 10%;
    margin-top: 10rem;
    padding-bottom: 15rem;
    width: 100%;
  }

  .form-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .form-title {
    display: flex;
    align-self: center;
    font-size: 36px;
    margin-bottom: 2rem;
    font-weight: 700;
    color: #f39d47;
  }

  .checkout-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .input-line {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
    font-weight: 600;
  }

  label {
    font-size: 16px;
    color: grey;
    margin-bottom: 0.5rem;
  }

  input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;
    font-size: 18px;
  }

  input[type="text"]::placeholder {
    font-size: 14px;
    color: #b9b9b9;
  }

  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .input-container .input-line {
    width: 48%;
  }

  .submit_checkout {
    margin: 0 auto;
    background-color: rgb(0, 132, 255);
    color: white;
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    padding: 0 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="button"]:hover,
  .submit_checkout:hover {
    background-color: #ffae5d;
  }

  .total-price .form-container .price {
    display: flex;
    align-self: center;
    padding-bottom: 50px;
  }

  .cart_price {
    margin: 0 auto;
    text-align: center;
    color: #000;
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    margin-bottom: 2rem;
  }

  .footer-logo {
    position: relative;
    font-size: var(--font-size-13xl);
  }

  .footer-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 8%;
    width: 82%;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    color: #fff;
    bottom: -120px;
  }

  .about-us-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
  }

  .info {
    position: relative;
    font-weight: 500;
  }

  .footer {
    width: 100%;
    position: relative;
    background-color: #fff;
    bottom: 0;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: var(--font-poppins);
  }

  .footer-box {
    position: absolute;
    left: 0;
    background-color: #404040;
    width: 100%;
    height: 200px;
  }

  .shopcart {
    font-weight: 700;
  }

  .shopcart-parent {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: calc(100% - 403px);
    top: 45px;
    right: 200px;
    left: 203px;
    justify-content: space-between;
    font-size: var(--font-size-13xl);
    font-weight: 150;
  }

  .sign-in {
    position: relative;
    font-size: 17px;
    font-weight: 700;
  }

  .frame-parent,
  .search-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .search-parent {
    width: 622px;
    border-radius: var(--br-xl);
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-sizing: border-box;
    padding: var(--padding-base);
    color: gray;
  }

  .frame-parent {
    position: absolute;
    width: calc(100% - 403px);
    top: 128px;
    right: 202px;
    left: 201px;
  }

  .group-parent {
    border-radius: var(--br-xl);
    background-color: var(--color-sandybrown);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base);
    gap: var(--gap-3xs);
  }

  .fresh-parent {
    position: absolute;
    width: calc(100% - 403px);
    top: 204px;
    right: 202px;
    left: 201px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-3xs);
    box-sizing: border-box;
    color: var(--color-dimgray);
    font-size: 1px;
  }
}
/* N_CheckoutPage end */

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;

  /* Colors */
  --white: #fff;
  --danger: #ff4242;
  --gray-800: #424551;
  --primary: #17696a;
  --color-sandybrown: #ffae5d;
  --color-black: #000;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-8xs: 5px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-mini: 15px;
  --padding-xl: 20px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-3xs: 10px;
  --br-xl: 20px;
}

Home_page Styles .vector-icon {
  width: 24px;
  height: 24px;
  color: #000000;
}

.sign_in_button {
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.sign_in_button:hover {
  color: #ffae5d;
}

.frame-wrapper,
.shopcart-parent,
.vector-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vector-parent {
  gap: var(--gap-3xs);
}

.frame-wrapper,
.shopcart-parent {
  font-size: var(--font-size-base);
}

.shopcart-parent {
  width: calc(100% - 403px);
  top: 40px;
  right: 200px;
  left: 203px;
  justify-content: space-between;
  font-size: var(--font-size-13xl);
}

.home-child {
  width: calc(100% - 400px);
  top: 108px;
  right: 200px;
  left: 200px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.group-icon {
  width: 19.2px;
  height: 24px;
}

.group-parent {
  border-radius: var(--br-xl);
  background-color: var(--color-sandybrown);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  gap: var(--gap-3xs);
}

.frame-parent,
.search-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.search-parent {
  width: 622px;
  border-radius: var(--br-xl);
  border: 1px solid rgba(128, 128, 128, 0.5);
  box-sizing: border-box;
  padding: var(--padding-base);
  color: gray;
}

.frame-parent {
  width: calc(100% - 403px);
  position: relative;
}

.b {
  color: var(--color-sandybrown);
}

.b1 {
  font-family: var(--font-poppins);
}

.we-picked-some-container {
  font-size: 96px;
  line-height: 100px;
  display: inline-block;
  padding-top: 40px;
  padding-left: 80px;
}

.the-most-popular {
  font-weight: 600;
}

.the-most-popular-wrapper {
  width: 80%;
  border-bottom: 2px dashed var(--color-sandybrown);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  font-size: var(--font-size-5xl);
}

.frame-child {
  width: 92%;
  height: 235px;
  object-fit: cover;
}

.off {
  color: var(--color-red);
}

.parent {
  width: 235px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.rectangle-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-8xs);
}

.samsung-galaxy-tab {
  width: 92%;
  font-weight: 500;
  display: inline-block;
}

.frame-container {
  width: 100%;
  top: 423px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.rectangle-parent1 {
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-8xs);
}

.frame-div {
  width: calc(100% - 1px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.popular_products {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.fresh-parent {
  width: calc(100% - 403px);
  width: 90%;
  top: 204px;
  right: 202px;
  left: 201px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  color: var(--color-dimgray);
}

.component-1-icon {
  top: 1108px;
  left: 201px;
  width: 1517px;
  height: 600px;
  object-fit: cover;
}

.todays-most-recent-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todays-most-recent-wrapper {
  margin-top: 2rem;
  width: calc(100% - 403px);
  top: 1768px;
  right: 201px;
  left: 202px;
  border-bottom: 2px dashed var(--color-sandybrown);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xl);
  font-size: var(--font-size-5xl);
}

.component-2 {
  display: flex;
  border-radius: var(--br-3xs);
  flex-direction: column;
  margin-top: 1rem;
  width: 20%;
  gap: var(--gap-3xs);
}

.component-2-parent {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 80%;
}

.component-2-container,
.component-2-group {
  top: 2295px;
  left: 203px;
}

.component-2-container {
  top: 2736px;
}

.home-item {
  top: 3177px;
  left: 0;
  background-color: #404040;
  width: 1920px;
  height: 200px;
  padding-bottom: 0px;
  padding-top: 50px;
}

.shopcart1 {
  position: flex;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  padding-left: 200px;
}

.about-us-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 100px;
}

.frame-child3,
.vector-icon2 {
  width: 33.2px;

  height: 24px;
}

.vector-icon2 {
  width: 10px;
  height: 5px;
}

.group-container,
.shopcart-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.group-container {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.shopcart-group {
  top: 3253px;
  left: 202px;
  width: 1520.2px;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  color: var(--color-white);
  padding-top: 50px;
}

.home-child1,
.home-inner {
  top: 3256.3px;
  left: 1616.5px;
  width: 67.3px;
  height: 50.8px;
}

.home-child1 {
  top: 3243.1px;
  left: 1594.7px;
  width: 99.2px;
  height: 70.6px;
}

.home {
  display: flex;
  margin: 0px;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.banner {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .component-2-parent {
    grid-template-columns: auto;
  }
  .banner {
    flex-direction: column;
  }
}

Product_page Styles .header {
  display: flex;
  margin: 0px;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}

.row {
  display: flex;
}

.fresh-parent {
  width: calc(100% - 403px);
  width: 80%;
  top: 204px;
  right: 202px;
  left: 201px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  color: var(--color-dimgray);
}

.vector-icon {
  width: 24px;
  height: 24px;
  color: #000000;
}

.frame-wrapper,
.shopcart-parent,
.vector-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vector-parent {
  gap: var(--gap-3xs);
}

.frame-wrapper,
.shopcart-parent {
  font-size: var(--font-size-base);
}

.shopcart-parent {
  width: calc(100% - 403px);
  font-size: var(--font-size-13xl);
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.header-child {
  width: calc(100% - 400px);
  top: 108px;
  right: 200px;
  left: 200px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.group-icon {
  width: 19.2px;
  height: 24px;
}

.group-parent {
  border-radius: var(--br-xl);
  background-color: var(--color-sandybrown);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  gap: var(--gap-3xs);
}

.frame-parent,
.search-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.vector-icon1 {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.search-parent {
  width: 622px;
  border-radius: var(--br-xl);
  border: 1px solid rgba(128, 128, 128, 0.5);
  box-sizing: border-box;
  padding: var(--padding-base);
  color: gray;
}

.banner {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .component-2-parent {
    grid-template-columns: auto;
  }
  .banner {
    flex-direction: column;
  }
}

.btn span:hover {
  background: #ff523b;
  color: #fff;
}

.single-product {
  margin-top: 30px;
  width: 80%;
}

.single-product .col-2 img {
  padding: 0;
}
.single-product .col-2 {
  padding: 20px;
}
.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
input:focus {
  outline: none;
}

.small-img-row {
  display: flex;

  column-gap: 20px;
  height: 0%;
  padding-top: 20px;
}
.small-img-col {
  flex-basis: 4%;
  row-gap: 1rem;
  cursor: pointer;
  width: 60%;
}

/* Basic Button Styles */
.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff6600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e55e00; /* Darker shade of the button color on hover */
}

/* Optional: Add more specific styles if needed */
.btn:focus {
  outline: none; /* Remove outline on focus for better accessibility */
}

/* Optional: Adjust button size for responsiveness */
@media screen and (max-width: 600px) {
  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}

.shopcart-group {
  top: 3253px;
  left: 202px;
  width: 1520.2px;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  color: var(--color-white);
  padding-top: 50px;
}

.about-us-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 100px;
  color: white;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
}

.shopcart1 {
  position: flex;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  color: white;
  padding-left: 200px;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
}

.home-item {
  margin-top: 5rem;
  background-color: #404040;
  width: 100%;
  height: 200px;
  padding-bottom: 0px;
  padding-top: 50px;
}
.group-container,
.shopcart-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-details {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  color: #333333;
}

.main {
  margin-top: 2rem;
  width: 80%;
}

.table_container {
  width: 100%;
}

.order_table {
  width: 100%;
}

.row_dash td {
  width: 20%;
  padding: 0.5rem;
  padding-left: 0;
}
